::selection {
	background-color: rgba(0, 0, 0, 0.15);
}

body {
	margin: 0;
	color: #000000;
	background-color: #ffffff;
}

.container {
	margin: 0 auto;
	width: 1600px;
}

.main {
	padding-top: 6rem;
	margin-bottom: 5rem;
}

.main__title-text {
	margin: 0;
	font-size: 4rem;
	line-height: 2rem;
	font-weight: 900;
	text-transform: uppercase;
}

.main__title-upd {
	font-family: Helvetica, sans-serif;
	font-size: 0.75rem;
}

.main__content-item {
	margin-top: 10rem;
	max-width: 54rem;
}

.main__content-num {
	-webkit-text-stroke: 1px #000;
	text-stroke: 1px #000;
	color: transparent;

	font-size: 4rem;
	line-height: 2rem;
	font-weight: 900;
}

.main__content-subtitle {
	font-size: 2rem;
	font-weight: 900;
	line-height: 1.1;
}

.main__content-text {
	margin: 2rem 0;

	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 700;
}
